header {
  background-color: #f1f1f1;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header-content img {
  max-width: 100%;
  height: auto;
}
