* {
  box-sizing: border-box;
}

input,
button {
  border: none;
  background: none;
  outline: 0;
}

button {
  cursor: pointer;
}

.search-container {
  --height: 4em;
  display: flex;
  border-radius: var(--height);
  background-color: #353639;
  height: var(--height);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.searchbar-input {
  width: 40vw;
  padding-left: 2em;
  font-size: 2em;
  color: #fff;
}

.searchbar-button {
  display: flex;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  background-color: #353639;
  box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.searchbar-icon {
  margin: auto;
  color: #fff;
  font-size: 2em;
}
